.container {
    height: 550px;
    width: 400px;
    font-weight: 400;
    color: #023047;
    justify-content: center;
    align-items:center;
    background-color: #E9C46A;
    border-radius: 10px;
    margin-right: 400px;
    margin-left: 400px;
    margin-top: 100px;
    margin-bottom: 300px;
    border-color: #E76F51;
    border-width: 50px;
    padding: 30px;
    line-height: 2;
    
}

.button      {
    color: black;
    border-radius: 4px;
    background-color: #2A9D8F;
    height: 25px;
}

.answerButton  {
    color: #2A9D8F;
    border-radius: 4px;
    background-color: #023047;
}

table{
    justify-content: center;
    align-items: center;
    background-color:#E76F51;
    display: flex;
    width: 150px;
    border-radius: 8px;
    margin: 30px;
    padding: 10px;
}